<!-- Cards with media area -->
  
 <div class="mid"> 
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>7up</mat-card-title>
        <mat-card-subtitle>500ml</mat-card-subtitle>
        <img mat-card-lg-image src="https://dailyshoppingbd.com/images/thumbnails/587/480/detailed/92/7UP-500-ML_AA.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
   
 
   
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Cocacola</mat-card-title>
        <mat-card-subtitle>2 Litre</mat-card-subtitle>
        <img mat-card-lg-image src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Coca_Cola_Marketing_Strategy_2022.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText2}}
    </mat-card-content>
  </mat-card>
   
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
   
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
   
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
  
  
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
</div>
  
  